/* Generics */

.displayNone {
	display: none;
}

/* # COUNTDOWN */

#countdown {
	font-weight: bolder;
	font-size: 5rem;
	margin: 15px;
}

/* #NUMBERS */
#numbers-list {
	font-size: 3rem;
}

.listItem {
	margin: 0 10px;
}

input {
	width: 80px !important;
}

